.app {
  text-align: center;
}

.app__header > h1 {
  font-weight: 400;
  font-size: 3rem;
}

.app__header > h2 {
  color: grey;
  font-size: medium;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

.app__header > img {
  margin-top: 1rem;
}

.app__form {
  border-radius: 12px;
  min-width: 40%;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: #e9e9eb;
  margin: 2rem;
  opacity: 0.9;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__iconButton {
  flex: 0;
}

.app__input {
  flex: 1;
}

.app__flipMove {
  margin-bottom: 10rem;
}